/*초기화 코드*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*폰트*/
@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR');

/*전체*/
body{
    min-width: 1080px;
    font-family: 'Vitro_core';
    display: flex;
    flex-direction: column;
    align-items: center;
}
::-webkit-scrollbar { display: none; }
/*헤더 (임시)*/
header{
    height: 170px;
    width: 100%;
    background-color: azure;
}

/*헤더 밑 이미지 부분*/
section {
    position: relative;
    width:100%;
    height: 300px;
    background-image: url("../img/main.jfif");
    background-size: cover;
}
.news{
    position: absolute;
    display: inline-block;
    font-size: 72px;
    color: #fff;
    left: 30px;
    bottom: 50px;
}
.news::after{
    content: "";
    display: block;
    width: 600px;
    border-bottom: solid 7px #fff;
    margin-top: 20px;
}
/*서브 타이틀*/
.sub_title{
    margin-top: 100px;
    width: 1200px;
    display: inline-block;
    font-size: 48px;
    text-align: left;
}
.sub_title::after{
    content: "";
    display: block;
    width: 600px;
    border-bottom: solid 7px #000;
    margin-top: 20px;
}
/*메인 컨텐츠*/
main{
  width: 900px; 
}
/*메인 뉴스 카드*/
.main_article{
    position: relative;
}
.main_card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    cursor: pointer;
}
.main_card img{
    width: 900px;
    height: 400px;
    box-shadow: 5px 5px 5px rgb(122, 122, 122);
}
.main_news_text{
    width: 700px;
    position: absolute;
    text-align: center;
    font-size: 56px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    bottom: 20px;
    right: 20px;
}
.main_card:hover > .main_news_text{
    text-decoration: underline;
}
.main_card:hover{
    transform:scale(1.03); /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
    transition: transform .35s;  
}

/*서브 뉴스 카드*/
.sub_article{
    margin-top: 30px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.sub_article img{
    display: inline-block;
    margin-top: 20px;
    width: 430px;
    height: 250px;
    box-shadow: 5px 5px 5px rgb(122, 122, 122);
}
.sub_card{
    position: relative;
    cursor: pointer;
}
.sub_news_text{
    width: 400px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    bottom: 20px;
    right: 20px;
}
.sub_card:hover > .sub_news_text{
    text-decoration: underline;
}
.sub_card:hover{
    transform:scale(1.03); 
    transition: transform .35s;  
}