/*초기화 코드*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*폰트*/
@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	min-width: 1080px;
}
::-webkit-scrollbar { display: none; }
/*헤더*/
header{
	height:170px;
	background-color: rgb(211, 211, 211);
}

/*컨텐츠*/
section{
	position: relative;
	height: 100vh;
	width: 100%;
	overflow:hidden;
	background-image : url("../img/back1.png");
	background-size: cover;
	background-position: center center;
}
/* section::after {
	width: 100%;
	height: 100%;
	content: "";
	background: url("../img/p1.png");
	background-size: cover;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	
  } */

.main_contents > div:nth-child(-n+5){
	position: absolute;
	display: inline-block;
	width: 600px;
	height: 300px;
	cursor: pointer;
	background-color: rgb(197, 197, 197);
	transition-duration: 1s;
	transition-timing-function:ease-in-out;
}
.main_contents > div:nth-child(3){
	width: 650px;
	height: 350px;
	top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.center_img{
	width: 100%;
	height: 100%;
	transition: transform 1s;
	box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.center_img:hover{
	width: 100%;
	height: 100%;
    transform:scale(1.03); 
    transition: transform 1s;  
}

.main_contents > div:nth-child(1){
	top: 40%;
    left: -50%;
    transform: translate(-50%, -50%);
}

.main_contents > div:nth-child(2){
	top: 40%;
    left: 0%;
    transform: translate(-50%, -50%);
	filter: brightness(50%);
}

.main_contents > div:nth-child(4){
	top: 40%;
    left: 100%;
    transform: translate(-50%, -50%);
	filter: brightness(50%);
}

.main_contents > div:nth-child(5){
	top: 40%;
    left: 150%;
    transform: translate(-50%, -50%);
}

/*슬라이더 텍스트*/
.carousel_info{
	position: absolute;
	width: 100%;
	bottom: 0%;
	height: 120px;
}
.carousel_circle{
	display: flex;
	width: 100%;
	height: 20px;
	justify-content: center;
}

.left_triangle {
	width: 0px;
	height: 0px;
	margin: 0 5px;
	border-right: 18px solid #fff;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	cursor: pointer;
  }
  .right_triangle {
	width: 0px;
	height: 0px;
	margin: 0 5px;
	border-left: 18px solid #fff;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	cursor: pointer;
  }
.circle{
	clear:both;
	display: block;
	z-index: 10;
	width: 15px;
	margin: 0 5px;
	height: 15px;
	background-color: #fff;
	border-radius: 50px;
}

.active_circle{
	background-color: rgb(255, 0, 0);
}

.carousel_text{
	font-family: 'Vitro_core';
	margin-top: 30px;
	text-align: center;
	color: #fff;
	font-size: 32px;
}

.right_arrow{
	position: absolute;
	right: 0;
	height: 100vh;
	width: 300px;
	z-index: 10;
	cursor: pointer;
}

.left_arrow{
	position: absolute;
	left: 0;
	height: 100vh;
	width: 300px;
	z-index: 10;
	cursor: pointer;
}