/* 초기화 코드 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 폰트 */
@font-face {
  font-family: 'mono';
  src: url('../fonts/Monologue\ DEMO.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* 전체*/
body {
    min-width: 1080px; 
    font-family: "Vitro_core";
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
    -ms-overflow-style: none;
  }
  
  ::-webkit-scrollbar { display: none; }

/* 헤더 */
header{
  height: 170px;
  width: 100%;
  background: #3C3C3C;
display: flex;
justify-content: space-between;
align-items: center;
}

.mainpage_nav{
width: 35%;
margin-top: 110px;
/* display: flex;
flex-direction: column; */
}

.nav_list{
display: flex;
justify-content: space-around;
align-items: center;
}

.nav_line{
position: relative;
}

.nav_list::before{
top: -20px;
position: absolute;
  content: "";
  display: block;
  width: 100%;
  border-bottom: solid 3px #fff;
}

.mainpage_nav ul li {
display: inline-block;
font-family: mono;
font-size: 28.4335px;
line-height: 39px;
letter-spacing: -0.02em;
/* padding-left: 50px;
padding-right: 50px; */
}

.mainpage_nav ul li a {
color: white;
text-decoration: none;
}
.mainpage_nav ul li:hover a  {   
font-size: 33px;
color: #ff4242;
}

#mainpage_logo a img{ 
height:136px;
}

#mainpage_logo:hover a img {
height: 141px;	
}
.nav_list .current a{
	font-size: 33px;
	color: #ff4242;
}
  /* 시작화면 배경 */
  .bg_start {
    background-image: url("../img/퀴즈시작.jpg");
    background-position: center;
    background-size: cover;
}

/* 시작화면 */
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quiz_title {
  color: #fff;
  font-size: 64px;
}

.btn {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  margin-top: 65px;
  font-size: 64px;
  vertical-align: middle;
  width: 340px;
  height: 100px;
  cursor: pointer;
  background:rgba( 249, 249, 249, 0.7 );
	color:#FFF;
  border-radius: 50px;
  border-color: #00ff0000;
  text-decoration:none;
	transition-property:all;
	transition-duration:0.3s;
	transition-timing-function:ease-in-out;
	transition-delay:0;
}

.btn:hover {
  width: 350px;
  height: 110px;
  color: #B372E7;
  background-color: rgba(64, 64, 64, 0.7);
	transition-property:all;
	transition-duration:0.3s;
	transition-timing-function:ease-in-out;
	transition-delay:0;
}

  /* 게임화면 배경 */
  .bg_game {
      background-image: url("../img/퀴즈진행.jpg");
      background-position: center;
      background-size: cover;
      min-height:620px;
  }

  /* 게임화면 */
  main {
    height: 100vh;
  }

  .questionbox {
    position: absolute;
}

.question {
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    width: 1000px;
    color: #fff;
    font-size: 42px;
    margin: 80px 0 0 80px;
    padding-bottom: 40px;
    border-bottom: solid 5px #B4B4B4;
    line-height: 120%;
}

.option {
    display: block;
    height: 60px;
    margin: 40px 0 0 150px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 33px;
    color: #fff;
    background-color: #00ff0000;
    border: 0;
    cursor: pointer;
  }

  .option:hover {
    color: #C275E3;
  }

  /* 결과 화면 */

 .bg_over {
    background-image: url("../img/퀴즈끝.jpg");
    background-position: center;
    background-size: cover;
  }

  .resultbox {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .result {
    font-size: 50px;
  }

  .result_text {
    margin-top: 20px;
    font-size: 40px;
  }

  .result_count {
    margin-top: 20px;
    font-size: 30px;
  }
